<link rel="stylesheet" href="css/pr_bbw.css">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
<!-- Bootstrap Font Icon CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>

<nav class="navbar navbar-expand-sm" style="background-color: #fcebe3;">
  <a class="navbar-brand" href="index.html">Anu's Henna</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#about">About Us</a>
      </li>
      <!-- End of dropdown menu items -->
      <li class="nav-item">
        <a class="nav-link" href="#services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="portfolio.html">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#faq">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="impressum.html">Imprint</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#book">Booking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="shop.html">Shop</a>
      </li>
      <!-- Add a dropdown item for Channels, Register, Members, Not Valid, Logout, and Login -->

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="get-channel">Channels</a>
          <a class="dropdown-item" href="get-register">Register</a>
          <a class="dropdown-item" href="get-members">Members</a>
          <a class="dropdown-item" href="404.html">Not Valid</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="contact.html">Contact</a>
          <a class="dropdown-item" href="/logout">Logout</a>
          <a class="dropdown-item" href="/login">Login</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
